@tailwind preflight;
@tailwind components;
@tailwind utilities;

/* -------------------------- */
/* Custom Components Go Below */

.nav-link {
    @apply block no-underline uppercase tracking-wide mt-6 text-indigo-lighter;
}

.btn-orange {
    @apply bg-orange no-underline text-xs uppercase text-white font-bold py-2 px-4 rounded;
}

.form-control {
    @apply appearance-none border rounded w-full py-2 px-3 bg-grey-lighter text-grey-darker mb-3 leading-tight;
}